body {
    margin: 0;
}

#top-bar {
    background-color:lightblue;
    padding: 24px 48px;
}

.menu-item {
    margin-right: 24px;
    font-size: 18px;
    text-decoration: none;
}

.menu-item:link {
    color: crimson;
}

.menu-item:visited {
    color: green;
}

.menu-item:hover {
    color: black;
}

.menu-item:active {
    color:darkgoldenrod;
}
/* 
 * link state => link, visited, hover, active
 * must be defined in this oreder
*/